.container {max-width: 1000px; margin: 0 auto;}
.row {position: relative; margin: 10px 15px;}
:root {font-size: 16px;}
body {font-family: "SF Pro Display"}

/* header */
#header {margin-top: 60px; overflow: hidden;}
#header .container {padding-bottom: 15px; border-bottom: 1px solid #ccc;}
#header .header-data {font-weight: 600; font-size: 1rem; color: #959597; display: block;}
#header .header-title {font-size: 2.2rem; font-weight: bold; letter-spacing: -2px; display: inline;}
#header .header-id {
    float: right;
    width: 3.5rem; height: 3.5rem; 
    background: linear-gradient(256.39deg, #DCDCDC 33.65%, rgba(255, 255, 255, 0) 91.92%), #EBEBEB;
    border-radius: 50%;
}
#header .header-id span {
    font-size: 2rem;
    color: #FFFFFF;
    text-align: center;
    line-height: 1.8;
    display: block;    
}

/* banner */
.banner {padding-bottom: 30px; border-bottom: 1px solid #ccc;}
.banner .banner-title .bt-stit {font-size: 1.1rem; line-height: 20px; color: #E06482;}
.banner .banner-title .bt-tit {font-size: 1.8rem; line-height: 1; font-weight: 600;}
.banner .banner-title .bt-desc {font-size: 3rem; line-height: 60px; color: #858587; font-weight: 300;}

/* recentMusic */
#recentMusic {overflow: hidden;}
#recentMusic .container {border-bottom: 1px solid #ccc;}
#recentMusic .rm-title {
    float: left;
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 60px;
}
#recentMusic .more {float: right; font-size: 1.4rem; line-height: 3; color: #E06482; font-weight: bold;}
#recentMusic .music-wrap {clear:both; display: flex; overflow: hidden;}
#recentMusic .music-wrap .rm-box {margin: 0 30px 20px 0; width: 500px; height: 100%;}
#recentMusic .music-wrap .rm-box:last-of-type {margin-right: 0;}
#recentMusic .music-wrap .rm-box p {
    margin-top: 10px;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1;
}
#recentMusic .music-wrap .rm-box span {
    font-size: 1.4rem;
    line-height: 1.5;
    color: #888;
}

/* nextProgram */
#nextProgram .np-title {
    font-weight: bold;
    line-height: 60px;
    font-size: 1.8rem;
    margin-bottom: 10px;
}
#nextProgram .np-box {display: flex; margin-bottom: 2rem;}
#nextProgram .np-box .left {width: 40%; margin-bottom: 10px;}
#nextProgram .np-box .left img {border-radius: 20px;}
#nextProgram .np-box .right {width: 60%; margin: 10rem 0 0 1.5rem; border-bottom: 1px solid #ccc;}
#nextProgram .np-box .right .time {
    font-weight: 600; font-size: 2rem; color: #E06482;
}
#nextProgram .np-box .right .tt {font-weight: bold; font-size: 3.2rem; line-height: 1.5;}
#nextProgram .np-box .right span {font-weight: 400; color: #A7A7A9; font-size: 2rem; display: block; width: 96%; line-height: 1;}

/* artist */
#artist .row {background: #F3F2F8; overflow: hidden; padding: 0 2rem; margin: 0 auto;}
#artist .art-title {
    float: left;
    font-weight: bold;
    line-height: 60px;
    font-size: 1.8rem;
    margin-bottom: 10px;
}
#artist .more {
    float: right; font-size: 1.4rem; 
    line-height: 2.8; color: #E06482; 
    font-weight: bold;
}
#artist .artist-wrap {clear: both; display: flex; justify-content: space-between;}
#artist .artist-wrap .circle {text-align: center; flex-basis: 33.333%; margin-right: 2rem;}
#artist .artist-wrap .circle img {width: 18rem; height: 18rem; border-radius: 50%;}
#artist .artist-wrap .circle p {text-align: center; font-size: 1.9rem; margin: 2rem;}

/* playList */
#playList .container {border-bottom: 1px solid #ccc; padding: 15px 0;}
#playList .row {display: flex; justify-content: space-between; align-items: center; padding: 0 30px;}
#playList .pl-left img {width: 12rem; border-radius: 10px; box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);}
#playList .pl-left span {font-size: 3rem; margin-left: 20px; line-height: 4;}
#playList .pl-right {display: flex;}
#playList .pl-right img {width: 100px;}
#playList .pl-right img.play {width: 50px;}

/* menu */
#menu .icon {padding: 30px; display: flex; justify-content: space-between; align-items: center; flex-basis: 25%;}
#menu .icon a img {width: 60px; display: block;}
#menu .text {width: 100%; height: 100%; display: flex; justify-content: space-between;}
#menu .text span {color: #999; font-size: 2rem;}
#menu .text .heart {color: #FE3057;}


/* 미디어 쿼리 */
@media (max-width: 620px) and (min-width: 320px) {
    :root {font-size: 10px;}
    #nextProgram .np-box .right {margin: 1rem 0 0 1.5rem;}
    #nextProgram .np-box .right .time {font-size: 1.5rem;}
    #nextProgram .np-box .right .tt {font-size: 2.2rem;}
    #nextProgram .np-box .right span {font-size: 1.5rem;}
    #artist .more, #recentMusic .more {line-height: 4;}
    #artist .artist-wrap .circle img {width: 12rem; height: 12rem;}
    #playList .row {padding: 0;}
    #playList .pl-left img {width: 6rem;}
    #playList .pl-left span {font-size: 1.5rem;}
    #playList .pl-right img {width: 30px;}
    #playList .pl-right img.play {width: 15px;}
}