@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* common */

#wrap {height: 300vh;}

/* header */
.header {border-bottom: 1px solid #eaeaea; line-height: 70px; padding: 30px 80px 0;}
.header > * {float: left;}
.header .logo {width: 18%;}
.header .logo img {width: 182px;}
.header ul li {display: inline-block; padding: 0 45px;}
.header ul li a {font-weight: 900; font-size: 18px; padding-bottom: 22px;}
.header ul.gnb {width: calc(100% - 43%);}
.header ul.gnb li:hover a {color: #D70C19; border-bottom: 4px solid #D70C19;}
.header ul.sub_nav {width: 25%; text-align: right;}
.header ul.sub_nav li {padding: 0 15px;}
.header ul.sub_nav li select {border: none; font-weight: 900;}
.header ul.sub_nav li a {font-size: 15px;}
.header ul.sub_nav li.search {width: 32px;}

/* intro */
#intro {position: absolute; width: 100%; height: calc(100vh - 102px);}
#intro .text_wrap {position: absolute; left: 23%; bottom: 150px;}
#intro .text_wrap p {font-size: 125px; font-weight: 900; line-height: 0.99;}
#intro .text_wrap p span {opacity: 0;}
#intro .text_wrap .btn_wrap {opacity: 1; width: 90px; height: 90px; position: absolute; right: 190px; bottom: -10px;}
#intro .text_wrap .btn_wrap .plus {width: 100%; height: 24px; background: #D70C19; border: none; position: relative; animation: rotate 2s infinite;}
#intro .text_wrap .btn_wrap .plus::before {content: '';width: 100%; height: 24px; background: #D70C19; position: absolute; left: 0; top: 0; transform: rotate(90deg);}
#intro .bar_wrap {position: absolute; left: 0; bottom: 0; width: 100%;}
#intro .bar_wrap .bar {height: 38px; background: #D70C19;}

@keyframes rotate {
	0% {opacity: 1; transform: rotate(0deg);}
	30% {transform: rotate(315deg);}
	100% {transform: rotate(540deg);}
}