@charset "UTF-8";
@font-face {
  font-family: 'NanumBarunGothic';
  font-style: normal;
  font-weight: 400;
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot");
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix") format("embedded-opentype"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff") format("woff"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf") format("truetype");
}

@font-face {
  font-family: 'NanumBarunGothic';
  font-style: normal;
  font-weight: 700;
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot");
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix") format("embedded-opentype"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff") format("woff"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf") format("truetype");
}

@font-face {
  font-family: 'NanumBarunGothic';
  font-style: normal;
  font-weight: 300;
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot");
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix") format("embedded-opentype"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff") format("woff"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf") format("truetype");
}

.nanumbarungothic * {
  font-family: 'NanumBarunGothic', sans-serif;
}

body {
  font-family: 'NanumBarunGothic', '맑은 고딕', 'Malgun Gothic', sans-serif;
  overflow-x: hidden;
}

/* container */
.container {
  width: 1200px;
  margin: 0 auto;
}

/* side-menu */
#side-menu {
  position: fixed;
  left: -300px;
  top: 0;
  background: rgba(0, 0, 0, 0.8);
  width: 13%;
  height: 100%;
  z-index: 10000;
}

#side-menu .top {
  position: relative;
  width: 100%;
  height: 100px;
  background: #000;
}

#side-menu .top .hi-ham {
  position: relative;
}

#side-menu .top .hi-ham .circle {
  cursor: pointer;
  width: 30px;
  height: 30px;
  background: #000;
  position: absolute;
  border-radius: 50%;
  border: 2px solid #555;
  right: -15px;
  top: 35px;
}

#side-menu .top .hi-ham .circle img {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#side-menu .top .hi-ham a {
  position: relative;
}

#side-menu .top .hi-ham a .line1 {
  position: absolute;
  left: 23px;
  top: 43px;
  width: 22px;
  height: 2px;
  background: #fff;
}

#side-menu .top .hi-ham a .line2 {
  position: absolute;
  left: 23px;
  top: 50px;
  width: 15px;
  height: 2px;
  background: #fff;
}

#side-menu .top .hi-ham a .line3 {
  position: absolute;
  left: 23px;
  top: 57px;
  width: 22px;
  height: 2px;
  background: #fff;
}

#side-menu .top .exit {
  background: #000 url(../img/close.png) no-repeat;
  position: absolute;
  right: 0;
  top: 0;
}

#side-menu .side-box {
  padding-left: 20px;
}

#side-menu .side-box ul li a {
  font-weight: bold;
  display: block;
  font-size: 16px;
  padding: 8px 0;
  color: #fff;
}

#side-menu .side-box ul li ul.sub-menu {
  display: none;
}

#side-menu .side-box ul li ul.sub-menu li a {
  font-size: 13px;
  color: #999;
}

#side-menu .side-box ul li ul.sub-menu li a:hover {
  color: #fff;
}

#side-menu .side-box ul li ul.sub-menu li a:hover::after {
  content: '';
  position: absolute;
  left: 55px;
  top: 10px;
  border-left: 5px solid #fff;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
}

#side-menu .side-box div ul.kategorie {
  text-align: center;
  width: 80%;
  margin: 20px 0 0px;
  padding: 18px 0;
  border-top: 1px solid #484848;
  border-bottom: 1px solid #484848;
}

#side-menu .side-box div ul.kategorie li {
  display: inline;
  position: relative;
}

#side-menu .side-box div ul.kategorie li::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  height: 13px;
  background: #484848;
}

#side-menu .side-box div ul.kategorie li a {
  display: inline-block;
  padding: 0 5px;
  font-size: 13px;
  color: #999;
  font-weight: 500;
}

#side-menu .side-box div ul.kategorie li a:hover {
  color: #fff;
}

#side-menu .side-box div ul.kategorie li:first-child::before {
  width: 0;
  height: 0;
}

#side-menu .side-box div ul.service {
  width: 80%;
  padding: 10px 0;
  border-bottom: 1px solid #484848;
}

#side-menu .side-box div ul.service li a {
  position: relative;
  font-weight: 600;
  font-size: 13px;
  padding: 5px 0;
}

#side-menu .side-box div ul.service li a:hover::after {
  content: '';
  position: absolute;
  left: 55px;
  top: 10px;
  border-left: 5px solid #fff;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
}

#side-menu .side-box div ul.service li:nth-child(2) a:hover::after {
  left: 40px;
}

#side-menu .side-box div ul.my {
  margin: 10px 0;
}

#side-menu .side-box div ul.my li a {
  display: block;
  padding: 5px 0;
  font-size: 13px;
}

#side-menu .side-box div ul.my li ul li a {
  position: relative;
  font-size: 13px;
  color: #999;
  font-weight: 500;
}

#side-menu .side-box div ul.my li ul li a:hover {
  color: #fff;
}

#side-menu .side-box div ul.my li ul li a:hover::after {
  content: '';
  position: absolute;
  left: 93px;
  top: 10px;
  border-left: 5px solid #fff;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
}

#side-menu .side-box p {
  color: #fff;
}

#side-menu .side-box p.box {
  margin: 15px;
  width: 8vw;
  height: 9vw;
  background: #222;
  color: #999;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 11px;
}

#side-menu .side-box .button {
  margin-left: 25px;
}

#side-menu .side-box .button a {
  width: 50%;
  margin: 5px 0;
  display: block;
  border: 1px solid #858585;
  padding: 8px 15px;
  text-align: center;
  color: #999;
  border-radius: 100px;
}

#side-menu .side-box .button a:hover {
  color: #fff;
}

/* main */
#main {
  position: relative;
  /* header */
  /* banner */
}

#main #header {
  width: 100%;
  z-index: 1000;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* nav */
}

#main #header .header {
  float: left;
}

#main #header .header .ham {
  position: relative;
  position: absolute;
  left: 20px;
  top: 20px;
  width: 40px;
  height: 40px;
}

#main #header .header .ham .line1 {
  position: absolute;
  left: 10px;
  top: 22px;
  width: 15px;
  height: 2px;
  background: #fff;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

#main #header .header .ham .line2 {
  position: absolute;
  left: 10px;
  top: 29px;
  width: 22px;
  height: 2px;
  background: #fff;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

#main #header .header .ham .line3 {
  position: absolute;
  left: 10px;
  top: 36px;
  width: 15px;
  height: 2px;
  background: #fff;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

#main #header .header .ham:hover .line1 {
  width: 22px;
}

#main #header .header .ham:hover .line2 {
  width: 15px;
}

#main #header .header .ham:hover .line3 {
  width: 22px;
}

#main #header .header .logo {
  position: relative;
}

#main #header .header .logo h1 {
  position: absolute;
  left: 40px;
  top: 20px;
}

#main #header .header .logo h1 a img {
  width: 110px;
}

#main #header .nav {
  float: right;
  width: 1200px;
  height: 200px;
  position: relative;
  overflow: hidden;
}

#main #header .nav .center-nav {
  float: left;
  margin-top: 10px;
  position: absolute;
  top: 8px;
  left: 120px;
}

#main #header .nav .center-nav ul {
  margin-left: 50px;
}

#main #header .nav .center-nav ul li {
  padding-left: 18px;
  display: inline;
}

#main #header .nav .center-nav ul li a {
  font-size: 18px;
  color: #fff;
  font-weight: bold;
  padding-right: 10px;
}

#main #header .nav .right-nav {
  float: right;
  margin: 23px 10px 0 0;
  position: relative;
}

#main #header .nav .right-nav .left ul {
  position: absolute;
  left: -120px;
  top: 0;
}

#main #header .nav .right-nav .left ul li {
  display: inline;
}

#main #header .nav .right-nav .left ul li a {
  padding-right: 25px;
  position: relative;
  font-size: 14px;
  color: #fff;
  font-weight: bold;
}

#main #header .nav .right-nav .left ul li a::before {
  content: '';
  width: 3px;
  height: 3px;
  position: absolute;
  left: -10px;
  top: 5px;
  background: #ec7d2c;
}

#main #header .nav .right-nav .right {
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#main #header .nav .right-nav .right .search {
  margin-right: 18px;
}

#main #header .nav .right-nav .right .search .text {
  font-size: 15px;
  width: 340px;
  height: 20px;
  background: none;
  border: 0;
  border-bottom: 3px solid #fff;
}

#main #header .nav .right-nav .right .search .text:focus {
  outline: 0;
}

#main #header .nav .right-nav .right .search .hidden {
  font-size: 15px;
  width: 340px;
  height: 30px;
  background: #111;
  border: 0;
  border-bottom: 3px solid #000;
}

#main #header .nav .right-nav .right .img a img {
  padding-left: 15px;
}

#main #banner {
  margin-bottom: 80px;
}

#main #banner .banner .swiper-container .swiper-wrapper .swiper-slide a {
  position: relative;
}

#main #banner .banner .swiper-container .swiper-wrapper .swiper-slide a .text {
  position: absolute;
  left: 500px;
  top: 180px;
  color: #fff;
  line-height: 1.3;
}

#main #banner .banner .swiper-container .swiper-wrapper .swiper-slide a .text p {
  font-size: 25px;
}

#main #banner .banner .swiper-container .swiper-wrapper .swiper-slide a .text .big {
  font-size: 80px;
  font-weight: 400;
}

#main #banner .banner .swiper-container .swiper-wrapper .swiper-slide a .text span {
  font-size: 16px;
}

#main #banner .banner .swiper-container .swiper-scrollbar-drag {
  max-width: 70px;
  height: 5px;
  border-radius: 0;
}

/* contents */
#contents .title {
  text-align: center;
  margin: 20px 0 30px;
}

#contents .title img {
  width: 210px;
}

/* What's hot */
#con1 .hot li {
  float: left;
  margin: 12px;
  position: relative;
}

#con1 .hot li .bigOne a img {
  width: 410px;
  display: block;
}

#con1 .hot li .bigOne a .hot1-text {
  text-align: center;
}

#con1 .hot li .bigOne a .hot1-text h4 {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}

#con1 .hot li .bigOne a .hot1-text p {
  font-size: 14px;
  color: #999;
  padding: 8px 0 18px 0;
  border-bottom: 1px solid #ccc;
}

#con1 .hot li .bigOne a .hot1-text p span {
  font-weight: 400;
  color: #ed334a;
}

#con1 .hot li .bigOne a .big-circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 28px;
  font-weight: bold;
  color: #fff;
  background: #ec7d2c;
  border-radius: 50%;
  border: 5px solid #fff;
  width: 68px;
  height: 68px;
  position: absolute;
  left: 10px;
  bottom: 70px;
}

#con1 .hot li {
  float: left;
}

#con1 .hot li .hotList a img {
  width: 230px;
}

#con1 .hot li .hotList a .hotList-text {
  opacity: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transition: all .7s;
  transition: all .7s;
  display: table;
}

#con1 .hot li .hotList a .hotList-text div {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

#con1 .hot li .hotList a .hotList-text div .tit {
  line-height: 25px;
  color: #fff;
  font-size: 18px;
}

#con1 .hot li .hotList a .hotList-text div .detail {
  line-height: 20px;
  font-size: 13px;
  color: #fff;
  margin: 15px 0;
}

#con1 .hot li .hotList a .hotList-text div .event {
  font-size: 18px;
  color: #ec7d2c;
  line-height: 35px;
}

#con1 .hot li .hotList a .circle {
  position: relative;
}

#con1 .hot li .hotList a .circle span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 19px;
  font-weight: 700;
  color: #fff;
  background: #ec7d2c;
  border-radius: 50%;
  border: 4px solid #fff;
  width: 57px;
  height: 57px;
  position: absolute;
  left: 10px;
  bottom: -20px;
}

/* ticket*/
#con2 {
  padding-top: 120px;
  clear: both;
}

#con2 .title {
  text-align: center;
  margin: 20px 0 30px;
}

#con2 .title img {
  width: 220px;
}

#con2 .ticket {
  position: relative;
  width: 90%;
  margin: 0 auto;
}

#con2 .ticket .box {
  margin: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  float: left;
}

#con2 .ticket .box a {
  position: relative;
}

#con2 .ticket .box a img {
  width: 230px;
}

#con2 .ticket .box a .day {
  position: absolute;
  left: 20%;
  top: 90px;
  display: block;
  color: #fff;
  font-size: 25px;
  width: 111px;
  height: 111px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.7);
  border: 7px solid #fff;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#con2 .ticket .box a .text {
  border: 1px solid #eee;
  text-align: center;
}

#con2 .ticket .box a .text time {
  position: relative;
  display: block;
  font-size: 15px;
  color: #ec7d2c;
  padding: 5px 0 26px;
}

#con2 .ticket .box a .text time::after {
  content: '';
  width: 25px;
  height: 3px;
  background: #000;
  position: absolute;
  left: 45%;
  bottom: 21%;
}

#con2 .ticket .box a .text p {
  position: relative;
  font-weight: 600;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 10px;
  font-size: 14px;
  width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#con2 .ticket .more {
  position: absolute;
  left: 41%;
  top: 470px;
  border: 1px solid #ccc;
  padding: 15px 50px;
  font-size: 14px;
}

/* sbanner01 */
.sbanner01 img {
  margin: 80px 0px;
}

/* ranking*/
#con3 {
  margin-bottom: 100px;
}

#con3 .title {
  text-align: center;
  margin: 20px 0 30px;
}

#con3 .title img {
  width: 160px;
}

#con3 .ranking {
  position: relative;
}

#con3 .ranking .tab {
  text-align: center;
}

#con3 .ranking .tab .tab-btn {
  margin-bottom: 30px;
}

#con3 .ranking .tab .tab-btn ul li.on a {
  color: #ec7d2c;
}

#con3 .ranking .tab .tab-btn ul li {
  display: inline;
}

#con3 .ranking .tab .tab-btn ul li a {
  font-size: 18px;
  padding: 0 30px;
}

#con3 .ranking .tab .tab-btn ul li a:hover {
  color: #ec7d2c;
}

#con3 .ranking .tab .tab-cont .cont-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#con3 .ranking .tab .tab-cont .cont-box .bigbox {
  margin: 0 auto;
}

#con3 .ranking .tab .tab-cont .cont-box .bigbox .box {
  overflow: hidden;
  position: relative;
  margin: 20px;
  width: 380px;
  height: 350px;
}

#con3 .ranking .tab .tab-cont .cont-box .bigbox .box svg {
  width: 500px;
  height: 520px;
  margin-top: -40px;
  margin-left: -50px;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

#con3 .ranking .tab .tab-cont .cont-box .bigbox .box img {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 200px;
  height: 280px;
}

#con3 .ranking .tab .tab-cont .cont-box .bigbox .box:hover svg {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

#con3 .ranking .tab .tab-cont .cont-box .bigbox .text {
  text-align: center;
  position: relative;
  padding-bottom: 20px;
}

#con3 .ranking .tab .tab-cont .cont-box .bigbox .text p {
  padding-bottom: 10px;
  font-size: 14px;
  font-weight: bold;
}

#con3 .ranking .tab .tab-cont .cont-box .bigbox .text span {
  font-size: 13px;
  color: #999;
}

#con3 .ranking .tab .tab-cont .cont-box .bigbox .text::before {
  content: '';
  position: absolute;
  right: 20px;
  bottom: -10px;
  width: 390px;
  height: 1px;
  background: #eee;
}

#con3 .ranking .tab .tab-cont .cont-box .bigbox .rank-num {
  position: relative;
}

#con3 .ranking .tab .tab-cont .cont-box .bigbox .rank-num p {
  position: absolute;
  left: 30px;
  top: -110px;
  text-align: center;
  line-height: 45px;
  font-size: 16px;
  color: #fff;
  width: 45px;
  height: 45px;
  background: #ec7d2c;
}

#con3 .ranking .more {
  position: absolute;
  left: 45%;
  bottom: -100px;
  border: 1px solid #ccc;
  padding: 15px 50px;
  font-size: 14px;
}

#con4 {
  margin-top: 200px;
}

#con4 .event {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

#con4 .event .swiper-container {
  width: 33.333333%;
  height: 100%;
  float: left;
}

#con4 .event .swiper-container .swiper-wrapper .swiper-slide {
  position: relative;
}

#con4 .event .swiper-container .swiper-wrapper .swiper-slide::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 94.5%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

#con4 .event .swiper-container .swiper-wrapper .swiper-slide em {
  position: relative;
  position: absolute;
  left: 50%;
  top: 35%;
  -webkit-transform: translate(-50%, -35%);
          transform: translate(-50%, -35%);
  font-size: 20px;
  text-align: center;
  color: #6edbf2;
}

#con4 .event .swiper-container .swiper-wrapper .swiper-slide em::before {
  content: '';
  width: 15px;
  height: 2px;
  position: absolute;
  left: 50%;
  bottom: -5px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #6edbf2;
}

#con4 .event .swiper-container .swiper-wrapper .swiper-slide p {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  white-space: nowrap;
}

#con4 .event .box {
  float: left;
  width: 33.333333%;
  height: 50%;
}

#con4 .event .box .angel img {
  border: 1px solid #ccc;
}

#con4 .event .box .project {
  margin-top: 15px;
}

#con4 .event .box .project img {
  width: 380px;
}

#con4 .event .stage {
  float: left;
  width: 33.333333%;
  height: 100%;
}

/* sbanner02 */
.sbanner02 {
  position: relative;
  width: auto;
  height: 560px;
  background: #000;
  margin: 80px 0px;
}

.sbanner02 .sban-text {
  position: absolute;
  left: 20%;
  top: 50%;
  -webkit-transform: translate(-20%, -50%);
          transform: translate(-20%, -50%);
  text-transform: uppercase;
}

.sbanner02 .sban-text h4 {
  position: relative;
  color: #fff;
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 60px;
}

.sbanner02 .sban-text h4::after {
  content: '';
  width: 48px;
  height: 4px;
  background: #ec7d2c;
  position: absolute;
  right: 8px;
  bottom: 0px;
}

.sbanner02 .sban-text h4:hover::after {
  content: '';
  width: 170px;
  height: 4px;
  background: #ec7d2c;
  position: absolute;
  right: 8px;
  bottom: 00px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.sbanner02 .sban-text a {
  color: #fff;
}

.sbanner02 .sban-text a p {
  font-size: 50px;
  font-weight: 700;
  line-height: 60px;
  margin-bottom: 25px;
}

.sbanner02 .sban-text a span {
  font-size: 18px;
  font-weight: 300;
  letter-spacing: -0.01em;
}

.sbanner02 img {
  position: relative;
  position: absolute;
  left: 38%;
  top: 0;
  width: 981px;
  height: 560px;
}

.sbanner02 img.movie {
  width: 86px;
  height: 86px;
  position: absolute;
  top: 50%;
  left: 64%;
  -webkit-transform: translate(-64%, -50%);
          transform: translate(-64%, -50%);
}

/* con5 */
#con5 {
  font-family: 'NanumBarunGothic', 'Malgun Gothic', sans-serif;
  margin-bottom: 100px;
}

#con5 .title {
  margin: 20px 0 80px;
}

#con5 .title img {
  width: 420px;
}

#con5 .container {
  width: 100%;
  margin: 0 auto;
}

#con5 .musical {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 80px;
  border-bottom: 1px solid #ccc;
}

#con5 .musical a {
  margin-left: 40px;
}

#con5 .musical a .list-img img {
  width: 270px;
}

#con5 .musical a .list-img:hover img {
  -webkit-transform: scale(1.08, 1.08);
          transform: scale(1.08, 1.08);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

#con5 .musical a .list-text {
  margin-top: 25px;
}

#con5 .musical a .list-text p {
  color: #333;
  font-size: 16px;
  text-align: center;
}

#con5 .musical a:hover {
  font-weight: bold;
}

/* con6 */
#con6 {
  margin-bottom: 100px;
}

#con6 .title {
  margin: 20px 0 80px;
}

#con6 .title img {
  width: 520px;
}

#con6 .container {
  width: 100%;
  margin: 0 auto;
}

#con6 .concert {
  padding-bottom: 80px;
  border-bottom: 1px solid #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#con6 .concert a {
  margin-left: 40px;
}

#con6 .concert a .list-img img {
  width: 270px;
}

#con6 .concert a .list-img:hover img {
  -webkit-transform: scale(1.08, 1.08);
          transform: scale(1.08, 1.08);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

#con6 .concert a .list-text {
  margin-top: 25px;
}

#con6 .concert a .list-text p {
  color: #333;
  font-size: 16px;
  text-align: center;
}

#con6 .concert a:hover {
  font-weight: bold;
}

/* con7 */
#con7 {
  margin-bottom: 100px;
}

#con7 .title {
  margin: 20px 0 80px;
}

#con7 .title img {
  width: 520px;
}

#con7 .container {
  width: 100%;
  margin: 0 auto;
}

#con7 .kids {
  padding-bottom: 80px;
  border-bottom: 1px solid #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#con7 .kids a {
  margin-left: 40px;
}

#con7 .kids a .list-img img {
  width: 270px;
}

#con7 .kids a .list-img:hover img {
  -webkit-transform: scale(1.08, 1.08);
          transform: scale(1.08, 1.08);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

#con7 .kids a .list-text {
  margin-top: 25px;
}

#con7 .kids a .list-text p {
  color: #333;
  font-size: 16px;
  text-align: center;
}

#con7 .kids a:hover {
  font-weight: bold;
}

/* con8 */
#con8 {
  margin-bottom: 100px;
}

#con8 .container {
  width: 100%;
  margin: 0 auto;
}

#con8 .title {
  margin: 0 0 80px;
}

#con8 .title img {
  width: 350px;
}

#con8 .swiper-container .swiper-wrapper .swiper-slide {
  margin: 0 120px;
}

#con8 .swiper-container .swiper-wrapper .swiper-slide img {
  width: 800px;
}

#con8 .swiper-container .swiper-button-next {
  position: absolute;
  right: 20%;
  top: 50%;
}

#con8 .swiper-container .swiper-button-prev {
  position: absolute;
  left: 25%;
  top: 50%;
}

/* con9 */
#con9 {
  overflow: hidden;
  padding-bottom: 80px;
  border-bottom: 1px solid #ccc;
}

#con9 .con-left {
  float: left;
}

#con9 .con-left dl {
  overflow: hidden;
  white-space: nowrap;
  margin-top: 20px;
  overflow: hidden;
}

#con9 .con-left dl dt {
  font-size: 13px;
  width: 45px;
  float: left;
  color: #999;
}

#con9 .con-left dl dd {
  font-size: 13px;
  color: #333;
}

#con9 .con-left dl dd span {
  color: #999;
}

#con9 .con-center {
  float: left;
  margin-left: 70px;
  padding: 0px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#con9 .con-center a {
  display: inline-block;
  font-size: 15px;
  color: #333;
  margin: 0 30px;
  text-align: center;
  font-weight: 700;
}

#con9 .con-center a img {
  margin: 0 auto;
  margin-bottom: 20px;
  display: block;
}

#con9 .con-right {
  float: right;
  overflow: hidden;
}

#con9 .con-right .con-right-left {
  float: left;
  padding: 10px 20px;
}

#con9 .con-right .con-right-left .social {
  margin-bottom: 10px;
}

#con9 .con-right .con-right-left .social a img {
  padding: 8px;
}

#con9 .con-right .con-right-right {
  float: right;
}

/* footer */
#footer {
  clear: both;
  margin-bottom: 30px;
}

#footer .footer-menu {
  position: relative;
  border-bottom: 1px solid #f6f6f6;
  padding-bottom: 20px;
  margin: 30px 0;
}

#footer .footer-menu .footer-menu-text ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#footer .footer-menu .footer-menu-text ul li {
  position: relative;
  display: inline;
}

#footer .footer-menu .footer-menu-text ul li::after {
  content: '';
  width: 1px;
  height: 15px;
  background: #eee;
  position: absolute;
  left: 0;
  top: 2px;
}

#footer .footer-menu .footer-menu-text ul li a {
  font-size: 15px;
  color: #333;
  padding: 0 10px;
}

#footer .footer-menu .footer-menu-text ul li:first-child::after {
  width: 0;
  height: 0;
}

#footer .footer-menu .footer-menu-btn {
  position: absolute;
  right: 0;
  top: 0;
  border: 1px solid #999;
}

#footer .footer-menu .footer-menu-btn ul {
  position: relative;
  z-index: 1000;
}

#footer .footer-menu .footer-menu-btn ul li {
  background: #fff;
  padding: 0px 50px 0px 10px;
}

#footer .footer-menu .footer-menu-btn ul li a {
  width: 110px;
  line-height: 1.8;
  position: relative;
  display: block;
  font-size: 13px;
  color: #666;
}

#footer .footer-menu .footer-menu-btn ul li a img {
  position: absolute;
  right: -40px;
  top: 8px;
}

#footer .footer-menu .footer-menu-btn ul .family-btn {
  cursor: pointer;
}

#footer .footer-menu .footer-menu-btn ul .family-btn.on {
  border-bottom: 1px solid #ddd;
}

#footer .footer-menu .footer-menu-btn ul .family-btn.on img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  position: absolute;
  right: -40px;
  top: 8px;
}

#footer .footer-menu .footer-menu-btn ul li.family-btn a {
  font-size: 16px;
  color: #000;
  height: 28px;
  line-height: 2;
}

#footer .footer-text {
  overflow: hidden;
}

#footer .footer-text .footer-text-left {
  float: left;
  margin: 20px 10px;
}

#footer .footer-text .footer-text-center {
  padding: 0 50px;
  float: left;
}

#footer .footer-text .footer-text-center p {
  font-size: 15px;
  color: #333;
  padding-bottom: 10px;
}

#footer .footer-text .footer-text-center p a {
  padding-right: 10px;
  position: relative;
  margin-left: 10px;
  background: url(../img/f-arrow.png) no-repeat right center;
}

#footer .footer-text .footer-text-center .tc2 {
  font-size: 13px;
  color: #999;
  padding-bottom: 10px;
}

#footer .footer-text .footer-text-right {
  float: right;
}

#footer .footer-text .footer-text-right .mark a {
  font-size: 12px;
  color: #333;
  margin-left: 45px;
  padding-right: 10px;
  background: url(../img/f-arrow.png) no-repeat right center;
}

#footer .footer-text .footer-text-right .fservice {
  font-size: 12px;
  color: #999;
  margin-top: 10px;
}
/*# sourceMappingURL=style.css.map */