body {background-color: #F1EFE6;}

/* layout */
#wrap {height: 5000px;}
#main {max-width: 1600px; margin: 0 auto;}
.container {max-width: 1200px; margin: 0 auto;}

/* header */
#header {
    font-family: 'DM Serif Text', serif;
    color: #241E60;
    display: flex;
    justify-content: space-between;
    padding: 2vw;
    #nav {
        flex: 1 1 0;
        ul {
            li { 
                padding: 1vw;
                display: inline-block;
                a {color: #241E60; font-size: 1vw;}
            }
        }
    }
    h1 {
        text-align: center;
        font-size: 2vw;
        flex: 1 1 0;
    }
    .home {
        text-align: right;
        flex: 1 1 0;
        margin: 1vw;
        img {  
            width: 1.3vw;
        }
    }
}
/* main */
#main {
    overflow: hidden;
    height: 80vh;
    z-index: 1000;
    .main-left {
        float: left;
        font-family: 'Recoleta',serif;
        margin: 20vh 0 0 8vw;
        h2 {
            font-size: 5.8vw;
            color: #09C9C3;
            line-height: .9;
            span {color: #E16162;}
        }
        p {
            margin-top: 3vh;
            font-size: 2vw;
            color: #241E60;
            font-family: 'Josefin Sans', sans-serif;
            font-weight: 400;
        }
    }
    .main-right {
        float: right;
        width: 50%;
        height: 100%;
        .heart {
            position: absolute; right: 36%; top: 25%;
            .heart-img {             
                img {
                    width: 10vw;
                    transform: rotate(-10deg);
                }
                svg { 
                    z-index: -1; 
                    position: absolute; left: 50%; top: 70%;
                }               
            }
        }
        .monkey {
            position: absolute; right: 24%; top: 45%;
            .monkey-img {             
                img {
                    width: 18vw;
                    transform: rotate(5deg);
                }
                svg { 
                    z-index: -1; 
                    position: absolute; left: 50%; top: 70%;
                }               
            }
        }
        .chick {
            position: absolute; right: 12%; top: 10%;
            .chick-img {
                img {
                    width: 20vw;
                    transform: rotate(-10deg);
                }
                svg { 
                    z-index: -1; position: absolute; 
                    left: 40%; top: 80%;
                }               
            }
        }               
    }
}

/* content01 */
#content01 {
    font-family: 'yg-jalnan';
    background: #F2C1BF;
    color: #E16162;
    font-size: 2.5vw;
    padding: 10vw 20vw;
    .cont01-text {
        p {            
            display: inline-block;
            position: relative;
            line-height: 1.9;
            &::before {
                content: '"';
                color: #fff;
                position: absolute; left: -5vw; top: -3vw;
                font-size: 5vw;
            }
            &::after {
                content: '"';
                color: #fff;
                position: absolute; right: -3vw; bottom: -1vw;
                font-size: 5vw;
            }
            strong {                
                color: #fff;
                &:first-child {
                    position: relative;
                    &::before {
                        content: '';
                        width: 7.5vw; height: 0.4vw;
                        background: #E16162;
                        border-radius: 80vw;
                        position: absolute; left: 0; bottom: -1vw;
                    }
                }                
                &:nth-child(6) {
                    position: relative;
                    &::before {
                        content: '';
                        width: 34.5vw; height: 0.4vw;
                        background: #E16162;
                        border-radius: 80vw;
                        position: absolute; left: 0; bottom: -1vw;
                    }
                }                
            }             
        }
    }
}
/* content02 */
#content02 {
    overflow: hidden;
    padding: 15vw 0;
    background: #fff;
    .cont02-text {
        float: left;
        width: 65%;
        color: #241E60;
        p {
            padding-left: 2vw;
            line-height: 1;
            text-indent: -60px;
            font-size: 2.8vw;
            font-family: 'yg-jalnan';
            em {font-style: normal; font-size: 3.8vw;}
        }
        .text {
            margin: 2vw;
            line-height: 1.6;
            font-family: 'S-CoreDream-4Regular';
            width: 87%;
            font-size: 1.3vw;
        }
    }
    .cont02-photo {
        position: relative;
        float: right;
        width: 35%;
        .like {
            img {
                z-index: 1;
                position: absolute; left: 1vw; top: -5vw;
                width: 30%;
                transform: rotate(10deg);
            }
        }
        .line1 {
            width: .5vw; height: 2.5vw; 
            background: #241E60; 
            border-radius: 80vw;
            position: absolute; left: 1vw; top: -7vw;
            transform: rotate(-30deg);
        }
        .line2 {
            width: .5vw; height: 2.5vw; 
            background: #241E60; 
            border-radius: 80vw;
            position: absolute; left: 0; top: -6vw;
            transform: rotate(-50deg);
        }
        .line3 {
            width: .5vw; height: 2.5vw; 
            background: #241E60; 
            border-radius: 80vw;
            position: absolute; left: -.7vw; top: -4.6vw;
            transform: rotate(-75deg);
        }
        img {
            position: absolute; right: 15%; top: -2vw;
            width: 18vw; transform: rotate(5deg);
        }
    }
}


/* gift */
#gift {
    z-index: 9999;
    overflow: hidden;
    width: 100%;
    height: 14%;
    position: fixed; left: 0; bottom: 0;
    border-top: 0.3vw solid #241E60;
    background: #F1EFE6;
    padding: 1vw;
    .gift-left {
        margin-left: 5%;
        float: left;
        width: 65%;
        .gift-text {
            p {
                display: none;
                font-size: 1.2vw;
                font-family: 'S-CoreDream-5Medium', serif;
            }
            p.on {display: block;}         
        }
        .gift-bar {
            margin-top: 2%;
            .border {
                position: relative;
                border: 0.3vw solid #241E60; 
                padding: 0% 45%;
                border-radius: 5vw;            
                &::after {
                    content: '';
                    height: 100%;
                    width: 5%;
                    background: #09C9C3;
                    position: absolute; left: 0; top: 0;
                    border-radius: 5vw;
                }
            }            
        }
    }
    .gift-right {
        float: right;
        width: 20%;
        margin-right: 5vw;
        .gift-box {
            padding: 1vw 0;
            text-align: center;
            background: #F9BC60;
            border: 0.3vw solid #241E60;
            border-radius: 3vw;
            .gift-text {
                font-family: 'Josefin Sans', serif;
                font-size: 2vw;
                font-weight: bold;
                img {
                    width: 10%; padding-left: 5%; box-sizing: unset;
                }
            }
        }
    }    
}